
.kanbanBoard {
    display: flex;
    flex-direction: column;
    background-color: #F5F3FF; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 2000px;
}

.filterContainer {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #EDEBFF; /* Lilac background for filters */
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.filterField {
    background-color: #E0DFFF; /* Input background color */
    border: 1px solid #C4BFEA;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

.kanbanColumns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: auto;

}

.kanbanColumn {
    background-color: transparent; 
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: auto;
}

.kanbanItem {
    background-color: #EDEBFF; 
    border: 1px solid #C4BFEA;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: transform 0.2s;
    height: auto;
}

.kanbanItem:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.candidateName {
    font-weight: bold;
    color: #4A3C82; 
    cursor: pointer;
    margin-bottom: 8px;
}

.applicantCount {
    color: #8F80C9;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.kanbanList {
    margin-top: 10px;
    max-height: 100px;
}

.kanbanList p {
    color: #4A3C82; 
}

.tabs {
    margin-bottom: 20px;
    border-bottom: 2px solid #C4BFEA; 
}

.MuiTab-root {
    color: #4A3C82 !important; 
    font-weight: bold !important;
}

.Mui-selected {
    color: #D1C2FF !important; 
    font-weight: bold !important;
}

.MuiButton-root {
    background-color: #4A3C82 !important; 
    color: #FFFFFF !important; 
}

.MuiButton-root:hover {
    background-color: #6A52A8 !important; 
}

.MuiTooltip-tooltip {
    background-color: #4A3C82 !important; 
    color: #FFFFFF !important; 
}

.rescheduleModal {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
