
.kanbanBoard {
    padding: 20px;
    background-color: #f9fafb;
    min-height: 100vh;
    box-sizing: border-box;
}

.kanbanColumns {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.kanbanColumn {
    flex: 1;
    min-width: 280px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.kanbanColumn h2 {
    font-size: 20px;
    color: #2a2a2a;
    padding-bottom: 14px;
    border-bottom: 2px solid #dcdcdc;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kanbanList {
    min-height: 320px;
}

.kanbanItem {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid #e4e4e4;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.kanbanItem:hover {
    background-color: #f4f7fc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .kanbanItem h3 {
    margin: 0 0 6px 0;
    color: #333333;
}

.kanbanItem p {
    margin: 0;
    font-size: 15px;
    color: #777777;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    gap: 12px;
}

.buttonContainer button {
    transition:
        background-color 0.2s ease,
        transform 0.2s ease;
}

.buttonContainer button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.buttonContainer button:active {
    transform: scale(0.95);
}

.candidateName:hover {
    color: #007bff;
}

.applicantCount {
    font-size: 15px;
    color: #ffffff;
    background-color: #2457a3;
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: bold;
  }
  

  .MuiTabs-root {
    border-bottom: 2px solid #dcdcdc;
  }
  
  .MuiTab-root {
    min-width: 120px;
  }
  
  .MuiTab-root.Mui-selected {
    color: #2457A3;
    font-weight: bold;
  }
  
  .MuiTab-root:hover {
    color: #007bff;
  }
  
  
.filterContainer{
  display: flex;
  margin-top: 20px;
  gap: 20px;
}


