/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #f3f4f6, #ffffff);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    max-width: 900px;
    margin: 50px;
    margin-left: 70px;
    transition: all 0.3s ease;
    justify-content: center;
    padding-top: 50px;
}
@media (max-width: 1200px) {
    .container {
        max-width: 700px;
        margin-left: 50px;
    }
}

@media (max-width: 900px) {
    .container {
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 600px) {
    .container {
        margin: 20px;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 400px) {
    .container {
        margin: 10px;
        max-width: 100%;
        border-radius: 10px;
    }
}

.title {
    font-size: 35px;
    color: #333;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: left;
    width: 100%;
}

.forms {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.profile {
    display: flex;
    text-align: left;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex-direction: column;
}

.profile img:hover {
    transform: scale(1.1);
}

.profile div div:first-child {
    font-size: 22px;
    color: #007bff;
    font-weight: 600;
}

.inputWidth {
    width: 100%;
    max-width: 350px;
    margin-bottom: 20px;
}

.checkboxDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

.numberPrefix {
    font-size: 14px;
    color: #007bff;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.border {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .forms {
        flex-direction: column;
    }

    .inputWidth {
        max-width: 100%;
    }
} */
.container {
    display: flex;
    flex-direction: column;
    width: '100%';
    align-items: center;
}

.title {
    font-size: 25px;
    color: black;
    font-weight: bold;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: left;
    width: 100%;
    font-family: 'Outfit', sans-serif;
}
