.contanier {
  padding: 20px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  color: rgb(44, 56, 68);
  width: 100%;
}

.grid>* {
  flex: 1 calc((100% - 32px) / 3);
  max-width: calc((100% - 32px) / 3);
  min-width: 310px;
}

.grid.twoColumn {
  width: calc(70% - 16px);
}

.grid.twoColumn>* {
  flex: 1 0 calc((100% - 16px) / 2);
  max-width: calc((100% - 16px) / 2);
}


.grid.twoColumn {
  width: calc(70% - 16px);
}

.grid.twoColumn>* {
  flex-basis: calc((100% - 16px) / 2);
  max-width: calc((100% - 16px) / 2);
}

.formCard {
  position: sticky;
  top: 20px;

}

.title {
  color: #000000;
  display: flex;
  font-size: 18px;
  font-weight: bolder;
}

.description {
  color: rgb(44, 56, 68);
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  width: 82%;
  word-break: break-word;
}

.data {
  color: rgb(44, 56, 68);
  display: flex;
  gap: 15px;
  align-items: center;
}


.account {
  color: #000000;
  display: flex;
  font-size: 18px;
  font-weight: bolder;
  margin: 16px 16px 0px 20px;
}


.create {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.Icon {
  width: 42px;
  height: 42px;
  background-color: rgb(234, 243, 251);
  ;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  border-bottom: 2px solid #ebebeb;
  width: 100%;
}