.firstContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dateContainer {
    display: flex;
    justify-content: space-between;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contanier {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    color: rgb(44, 56, 68);
    width: 100%;
}

@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

.title {
    color: #1c449ad7;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    font-weight: bolder;
    width: 100%;
}

.description {
    color: rgb(44, 56, 68);
    margin-bottom: 20px;
    flex-direction: column;
    width: 100%;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.location {
    flex-direction: column;
    width: 100%;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.data {
    color: rgb(44, 56, 68);
    display: flex;
    gap: 15px;
    align-items: center;
}

.account {
    color: #2457a3;
    display: flex;
    font-size: 18px;
    font-weight: bolder;
}

.create {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Icon {
    width: 42px;
    height: 42px;
    background-color: rgb(234, 243, 251);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2457a3;
}

.border {
    border-bottom: 2px solid #ebebeb;
    width: 100%;
}

.Wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.selectedEvent {
    gap: 10px;
    padding: 5px 15px 15px 15px;
    width: 100%;
}

.flex {
    display: flex;
    justify-self: center;
    align-self: center;
}


.search {
    display: flex;
    gap: '10px';
    align-self: 'flex-end';
    align-items: 'center';
    position: absolute;
    top: 77;
}

.modal{
display: flex;
flex-direction: column;
gap: 15px;
}

.modalCnt{
 gap: 10px;
 margin-top: 20px;
 display: flex;
}