.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 150px;
    min-height: 100%;
    background-image: url('/Images/background\ \(1\).png') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img {
    width: 510px;
    height: auto;
}

.img2 {
    width: 150px;
    height: auto;
}

.title {
    color: #000000;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
}

.error {
    color: #d32f2f;
    font-size: 13px;
    padding: 0;
    margin: 0;
    top: 0;
}

.forgotPassword {
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: '10px';
    font-family: 'Outfit', sans-serif;
}
.forgotPassword:hover {
    text-decoration: underline;
}

.slogan {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.cardLogoStyle {
    display: flex;
    justify-content: center;
}

.formStyle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkIsAuthenticated {
    height: 50vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
