.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        width: 50svw;
        height: auto;
        object-fit: cover;
    }
}
