.primaryBtn {
    background: #2469FF;
    color: #FFFFFF;
    border-radius: 5px;
    border-color: #2469FF;
    padding: 6px 0px;
    text-align: center;
    cursor: pointer;
    min-width: 350px;
    font-size: 16px;
    border: none;
    display: block;
    background: transparent;
    color: #2469FF;
    border: 2px solid #2469FF;
  }

  .primaryBtn:hover {
    color: #FFFFFF;
    background: #2469FF;
    border-color: #2469FF;
  }
  

  .secondaryBtn {
    background:  #000000;
    color:  #FFFFFF;
    border-radius: 5px;
    padding: 12px 0px;
    max-width: 416px;
    font-size: 16px;
    text-align: center;
    border: none;
    display: block;
  }
  
  /* .secondaryBtn:hover {
    background: #0c7b83;
  }
   */
  .tertiaryBtn {
    background-color: transparent;
    border: 1px solid #3c3a3b;
    border-radius: 5px;
    color: #3c3a3b;
    padding: 8px 0px;
    text-align: center;
    width: 100%;
  }
  
  .tertiaryBtn:hover {
    background-color: #ededed;
  }
  
  .followBtn {
    background-color: #118c94;
    border-radius: 5px;
    border-color: transparent;
    color: #ffffff;
    padding: 8px 0px;
    text-align: center;
    width: 100%;
  }
  
  .followBtn:hover {
    background-color: #118c94;
  }
  
  .modalBtn {
    background-color: #ebebeb;
    border-radius: 5px;
    border-color: transparent;
    color: #3c3a3b;
    padding: 8px 0px;
    text-align: center;
    width: 70px;
  }
  
  .modalBtn:hover {
    background-color: #ebebeb;
  }
  
  .postBtn {
    background-color: #ffffff;
    color: #cccccc;
    font-size: 16px;
    padding: 5px 12px;
    border: none;
    display: block;
  }
  
  .postBtn:hover {
    background: #0c7b83;
    border: none;
    display: block;
    border-radius: 60px;
  }
  
  .disabled {
    background: #cccccc;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 0px;
    text-align: center;
    min-width: 350px;
    font-size: 16px;
    cursor: not-allowed;
    border: none;
    display: block;
  }