.card p {
  color: #2457a3;
  align-items: center;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.card h2 {
  color: #2457a3;
  font-size: medium;
  font-weight: 400;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.cardIcon {
  font-size: large;
}
