
  
  .card p {
    color: #2457a3;
    align-items: center;

  }
  
  .card h2 {
    color: #2457a3;
    font-size: medium;
    font-weight: bold;
align-items: center;
margin-top: 0.25rem;
margin-bottom: 0.25rem;

  }
  
  
   
  .cardIcon {
font-size: large;
 }