
  
  .card p {
    color: #ffffff;
    margin-bottom: 20px; 

  }
  
  .card h2 {
    color: #ffffff;
    font-size: medium;
    font-weight: bold;
margin-top: 14px;

  }
  
  
   
  .CardIcon {
    font-size:xx-large; 
    margin-bottom: 4%;

  }