.dashboardContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: transparent;
    width: 100%;
    overflow: 'auto';
}

.mainContent {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.rightContent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.userNameClickable {
    cursor: pointer;
    transition:
        transform 0.3s ease,
        color 0.3s ease;
}

.userNameClickable:hover {
    transform: scale(1.1);
}

.cardContainer {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.cardGreen,
.cardBlue,
.cardYellow,
.cardPurple {
    border-radius: 15px;
    padding: 1.25rem;
    flex: 1 1 200px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    color: #5f43b2;
    text-align: center;
    transition:
        transform 0.3s ease,
        color 0.3s ease;
}

.cardGreen {
    background-image: linear-gradient(180deg, #e0f2f7, #a8e0f0);
}

.cardBlue {
    background-image: linear-gradient(180deg, #ede5ef, #c5b3e6);
}

.cardYellow {
    background-image: linear-gradient(180deg, #d8b4f2, #8f56cfbd);
}

.cardPurple {
    background-image: linear-gradient(180deg, #ece4f1, #a8c4f2);
}

.cardGreen:hover,
.cardBlue:hover,
.cardYellow:hover,
.cardPurple:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.infoSection {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.middleRow {
    display: flex;
    gap: 20px;
    flex: 1;
}

.calendar,
.infoSection,
.pieChartDiv {
    min-width: 250px;
}
.calendar:hover,
.infoSection:hover,
.pieChartDiv:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.employeeProfile {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    min-height: 400px;
}

h2,
h3 {
    color: #1c449ad7;
    margin-bottom: 0;
    margin-top: 0;
}

.employeeImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.employeeImage:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes continuous-pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

.welcome {
    background-image: url('./../../../../public/Images/blue.jpg');
    background-size: 200% 200%;
    color: #1e299ebd;
    border-radius: 15px;
    padding: 2.5rem 2rem;
    margin-bottom: 20px;
    display: flex;
    gap: 0.333rem;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition:
        box-shadow 0.3s ease,
        transform 0.3s ease;
}

.welcome.animate {
    animation:
        gradient-flow 5s ease infinite,
        continuous-pulse 4s ease-in-out infinite;
}

.welcome:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.4s ease;
    animation:
        gradient-flow 5s ease infinite,
        continuous-pulse 4s ease-in-out infinite; /* Trigger animation on hover */
}

.welcome * {
    margin: 0;
}
.note {
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
