.infoSection h2 {
    color: #1c449ad7;
    text-align: left;
    padding: 0%;
}

.infoSection li {
    display: flex;
    color: #000000;
    padding: 10px;
}

.blueDot {
    height: 10px;
    width: 10px;
    background-color: #6683da;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
}

.eventContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    * {
        margin: 0;
    }
}

.eventData {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
}
