.fullName {
    color: #1f1f1f;
    margin-bottom: 1rem;
}

.selectedForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & div:nth-of-type(1) {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;

        select {
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.25rem;
            background-color: transparent;
        }
    }

    & div:nth-of-type(2) {
        display: flex;
        justify-content: space-between;
        gap: 0.25rem;

        * {
            width: 100%;
        }

        input {
            padding: 0.5rem;
            border-radius: 0.25rem;
            border: 1px solid gray;
        }
    }
}

.buttonGroups {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;

    button {
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        border: none;
    }

    button[type="submit"] {
        background-color: #276AFF;
        color: white;
    }
}

.oneElement {
    display: flex;
    flex-direction: column;
}