.titleHeading {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    margin-bottom: 1rem;

    > h1{
        font-weight: bold;
    }
}

.mainPage {
    padding: 1rem 2rem;
    width: fit-content;
}