.content {
    display: flex;
    flex-direction: column;
    width: 1100px;
    max-width: 1000px;
}

.account {
    color: #000000;
    display: flex;
    font-size: 18px;
    font-weight: bolder;
    margin: 16px 0px 16px 0px;
}

.tab {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #4c556b;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 0.5px solid #ebebeb;
    padding-bottom: 20px;
    width: 100%;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
}

.activetab {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #276aff;
    border-bottom: 1px solid #276aff;
    padding-bottom: 20px;
    width: 100%;
}

.tabs {
    display: flex;
    flex-direction: row;
}
