.container {
  display: flex;
  background-color: #f0f5ff;
  width: 100%;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 1100px;
  max-width: 1000px;
  margin-left: 50px;
}

.account{
  color: #000000;
  display: flex;
  font-size: 18px;
  font-weight: bolder;
  margin: 16px 0px 16px 0px;
}


.tab {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #4C556B;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom:0.5px solid #EBEBEB ;
    padding-bottom: 20px;
    width: 100%;

  }
  
  
  .activetab {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #276AFF;
    border-bottom: 1px solid #276AFF ;
    padding-bottom: 20px;
    width: 100%;
  }
  
  
  .tabs{
    display: flex;
    flex-direction: row;
  }
  

  