.titleHeading {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    margin-bottom: 1rem;
}

.mainPage {
    padding: 1rem 2rem;
    width: fit-content;

}