.mainContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, min(6rem));
    row-gap: 1rem;
    column-gap: 0.5rem;
    justify-content: center;
}

.userDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    align-items: center;
    border-radius: 5rem !important;
    border: gray 0.5px solid !important;

    img {
        min-width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 1.5rem;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h2 {
            font-size: 1.25rem;
            font-weight: 500;
            margin: 0;
            color: #333;

            &:hover {
                color: lighten(#333, 17.5%);
                cursor: pointer;
            }
        }
    }
}
