.mainContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-bottom: 5rem;
}

.userDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem !important;

    & h2 {
        margin-top: 1rem;
        font-size: 1.5rem;
        color: black;
        margin-bottom: 0;
    }

    & ul {
        padding-left: 0;
        list-style: none;

        & li {
            color: #666666;
            margin-left: 0;
        }
    }
}
