@import "@/Helpers/_base.scss";

.mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: "100%";


    hr {
        fill: #1f1f1f;
        width: 80%;
        margin-bottom: 2rem;
    }

    img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 0.5rem;
    }

    >h3:first-of-type {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0;
        color: #1f1f1f;
    }


    .simpleBio {
        margin-top: 0.75rem;
        display: flex;
        gap: 1rem;
        color: #3d3d3d;

        * {
            margin: 0;
        }
    }
}

.assetsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
    width: 100%;

    >div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    & button {
        color: $red-color;
        background-color: transparent;
        border: transparent;
        padding-right: 0;

        &:hover {
            background-color: transparent;
            color: lighten($color: red, $amount: 20);
        }
    }
}

.itemDetails {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    >h4 {
        margin-top: 0;
        margin-bottom: 0.2rem;
        font-size: 1.75rem;
    }

    >p {
        font-family: monospace;
        font-size: 0.75rem;
        font-weight: 400;
        margin-bottom: 0;
    }
}

.dateContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;

    p {
        margin-bottom: 0px;
        font-size: 0.8rem;
    }

    button {
        padding: 0;
    }
}

.formInput {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    gap: 0.5rem;

    >div:first-of-type {
        height: 3rem;
    }

    button[type="submit"] {
        height: 3rem;
        width: 7.5rem;
    }
}

.assignReturningStatus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 0.25rem;
    margin: 0;
    align-items: end;

    p {
        margin: 0;
    }

    form {
        display: flex;
        gap: 0.75rem;
        justify-content: space-between;
        padding: 0;
        margin: 0;

        span {


            button {
                margin-top: 2px;
                padding-bottom: 0;

            }

            &:nth-of-type(1) {
                button {
                    color: #6d6d6d;
                }
            }

            &:nth-of-type(2) {
                button {
                    color: $green-color;
                }
            }
        }
    }

}

.holdingDescription {
    margin-top: 2.5px;
    margin-bottom: 0;
    font-size: 0.75rem;
    text-transform: uppercase;
}