.container {
  display: flex;
  background-color: #F4F4F4;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.account{
  color: #000000;
  margin-top: 10px;
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.tab {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #4C556B;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom:0.5px solid #EBEBEB ;
    padding-bottom: 20px;
    width: 100%;

  }
  
  
  .activetab {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #276AFF;
    border-bottom: 1px solid #276AFF ;
    padding-bottom: 20px;
    width: 100%;
  }
  
  
  .tabs{
    display: flex;
    flex-direction: row;
  }
  

  