.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1rem;

    h3 {
        color: #333;
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: end;

        p {
            display: flex;
            gap: 0.25rem;
            font-size: 1.25rem;
            font-family: monospace;
            margin-bottom: 0;
            margin-top: 0;
            justify-items: center;
            align-items: center;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: right;
            gap: 0.2rem;
            padding: 0;
            margin-right: 0;
            font-size: 0.8rem;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.historyContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.singleHistoryHeading {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;

    font-weight: 700;
    margin-bottom: 0.5rem;

    * {
        margin-bottom: 0;
    }
}

.singleHistory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;

    * {
        margin-bottom: 0.25rem;
    }

    p {
        font-size: 0.75rem;
    }

    p:nth-of-type(3) {
        align-self: center;

        font-size: 1rem;
    }
}
