.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 350px;
    color: #2469ff;
}

.border {
    border: 0.5px solid #ebebeb;
}

.title {
    font-weight: bold;
    color: #000000;
    font-size: 16px;
}

.forms {
    display: flex;
    width: 100%;
    gap: 20px;
}

.inputWidth {
    width: 350px;
}

.avatar {
    width: 94px;
    height: 94px;
}

.name {
    color: #000000;
    font-style: 18px;
}

.position {
    color: #4c556b;
    font-style: 16px;
}

.hr {
    color: #4c556b;
    font-style: 14px;
}

.checkboxDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
