.eventPoll {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.option {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    color: rgb(44, 56, 68);;
}

.activeOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #02a700;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
}

.optionContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-left: 5px;
    width: 100%;
}

.option.selected {
    background-color: #333;
    color: white;
}

.option input {
    margin-right: 10px;
}

.title {
    color: rgb(44, 56, 68);
    display: flex;
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
}

.border {
    border-bottom: 2px solid #ebebeb;
    width: 100%;
}
