$red-color: #d32f2f;
$green-color: #02a700;
$gray-color: gray;

@mixin mainPage {
}

@mixin pageHeading {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.75rem;
}

@mixin pageTitle {
    color: #000000;
    display: flex;
    font-size: 1.333rem;
    font-weight: 700;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

@mixin employeeContainer {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 80svh;
    overflow-x: auto;
}
