.container {
    display: flex;
    gap: 50px;
}

.firstDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 48%;
    height: 100%;
    border-radius: 10px;
    flex: 3;
}

.secondDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 100%;
    border-radius: 10px;
    flex: 1;
}

.thirdDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 48%;
    height: 100%;
    border-radius: 10px;
    flex: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.userGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    color: rgb(44, 56, 68);
    width: 100%;
}
@media (min-width: 1200px) {
    .userGrid {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}
.userCard {
    transition: all 0.3s ease;
    cursor: pointer;
    width: 100%;
}

.userCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
}
