.container {
    display: flex;
    gap: 50px;
}

.firstDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 48%;
    height: 100%;
    border-radius: 10px;
    flex: 3;
}

.secondDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 100%;
    border-radius: 10px;
    flex: 1;
    padding: 10px;
}

.thirdDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 48%;
    height: 100%;
    border-radius: 10px;
    flex: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.member {
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #000;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: large;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 10px;
}

.member:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
}
