.container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.firstDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 48%;
    height: 100%;
    border-radius: 10px;
    flex: 3;
}

.secondDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    width: 48%;
    height: 100%;
    border-radius: 10px;
    flex: 2;
}
