.container {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    color: #3f67b7;
}

.heroSection {
    position: relative;
    text-align: center;
    height: 40vh;
    overflow: hidden;
}

.heroImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(100%);
    transition: transform 0.5s ease-in-out;
}

.heroSection:hover .heroImage {
    transform: scale(1.05);
}

.heroSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    z-index: 1;
}

.mainTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    font-weight: 700;
    z-index: 2;
    text-transform: uppercase;
    letter-spacing: 3px;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 2;
}

.infoContainer:hover {
    transform: scale(1.02);
}

.infoSection {
    width: 85%;
    max-width: 1100px;
    margin: 40px 0;
    line-height: 1.8;
}

.infoSection h2 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #3f67b7;
    text-align: center;
}

.infoSection p {
    font-size: 1.2rem;
    color: #333;
    text-align: justify;
    padding: 0 10px;
    transition: color 0.3s ease;
}

.infoSection p:hover {
    color: #3f67b7;
}

.carouselSection {
    padding: 60px 0;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 50px;
    z-index: 1;
}

.carouselTitle {
    font-size: 2.4rem;
    color: #ffffff;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.ctaContainer {
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

