.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fefefe;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo img {
    width: 35px;
    height: auto;
}

.title {
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: larger;
    text-align: center;
    display: flex;
    margin: 0;
    cursor: pointer;
    & a {
        all: unset;
    }

    & span {
        font-weight: bold;
    }
}

.headerRight {
    display: flex;
    align-items: center;
}
.icon {
    margin-left: 15px;
    position: relative;
}

.icon:hover {
    color: #525252;
}
.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: rgb(247, 3, 3);
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 10px;
}
.username {
    margin-left: 10px;
}

.dropdown {
    position: absolute;
    top: 123%;
    right: 0;
    background-color: white;
    border: 1px solid #dcd8d8;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1000;
    width: 150px;
}

.notification {
    position: absolute;
    top: 123%;
    right: 0;
    background-color: white;

    border-radius: 6px;
    z-index: 1000;
    width: 420px;
}
.dropdownItem {
    padding: 8px 16px;
    cursor: pointer;
    color: #2457a3;
    display: flex;
    justify-content: space-between;
}

.dropdownItem:hover {
    background-color: #f0f0f0;
}

.hamburgerIcon {
    height: 24px;
    cursor: pointer;
    & svg:hover {
        fill: #5f43b2;
    }
}
