.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #ffffff;
    transition: box-shadow 0.3s ease;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logoImage {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

.logoImage:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.title {
    font-family: 'Outfit', sans-serif;
    color: #333;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
    cursor: pointer;
    transition: color 0.3s ease;
}

.title a {
    text-decoration: none;
    color: inherit;
}

.title:hover {
    color: #4b56e0;
}

.title span {
    font-weight: 700;
}

.headerRight {
    display: flex;
    align-items: center;
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition:
        transform 0.3s ease,
        color 0.3s ease,
        box-shadow 0.3s ease;
    border-radius: 50%;
}

.icon:hover {
    color: #4b56e0;
}

.username {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.dropdown {
    position: absolute;
    top: 120%;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px 0;
    z-index: 1000;
    width: 200px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdownItem {
    padding: 10px 20px;
    cursor: pointer;
    /* color: #2457a3; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    align-items: center;
}

.dropdownItem:hover {
    background-color: #f4f4f4;
    /* color: #4b56e0; */
}

.hamburgerIcon {
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.hamburgerIcon svg {
    transition: fill 0.3s ease;
}

.hamburgerIcon svg:hover {
    fill: #4b56e0;
}

@media (max-width: 768px) {
    .header {
        padding: 0.5rem 1rem;
    }

    .headerRight {
        gap: 1rem;
    }

    .dropdown {
        width: 180px;
    }

    .title {
        font-size: 1.1rem;
    }
}
