.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
    background:#fdfdfe;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.headerLeft {
  display: flex;
   align-items: center;
}
.logo img {
width:35px;
height: 30px;
  margin-left: 30px;

}



.title h4{
  color: black;
  font-style: normal;
  font-weight: bold;
  padding-left: 10px;

  display: flex;

}
.title1 h4{
  color: black;
  font-style: normal;
}
.headerRight {
  display: flex;
  align-items: center;

}
.icon {
  margin-left: 15px;
  position: relative;
  color: #94adeb;

}
 .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: rgb(247, 3, 3);
  color: white;
  border-radius: 50%;
  padding: 1px 5px;
  font-size: 10px;
}
.username {
  margin-left: 10px;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #dcd8d8;
  border-radius:6px;
  padding: 8px 0;
  z-index: 1000;
  width: 150px;
}

.dropdownItem {
  padding: 8px 16px;
  cursor: pointer;
  color: #587edf;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

