.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
    background:#fdfdfe;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

}


.headerLeft {
  display: flex;
  align-items: center;
}

.logo img {
  width: 190px; 
  height: auto;
  margin-inline-start: 0%; 

  
}

.headerRight {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 20px;
  position: relative;
}

.icon .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
}

.username {
  margin-left: 10px;
}
