.toggleButton {
    position: absolute;
    top: 90px;
    left: 10px;
    background: #3164a2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001; 
  }
  
  .toggleButton:hover {
    background-color: #276AFF;
  }
  
  nav {
    background: linear-gradient(139deg, #3164a2, #276AFF, #69acef);
    color: white;
    height: 100vh;
    max-width: 230px;
    font-size: 20px;
    position: absolute;
    z-index: 1000;
    transition: transform 0.3s ease;
  }
  
  .navbar {
    text-align: justify;
    margin-top: 4rem;
    width: 188px;
  }
  
  .item {
    padding: 0 20px;
    margin-bottom: 10px;
    position: relative; 
  }
  
  .item:hover {
    background-color: white;
  }
  
  .item:hover .link {
    color: #3164a2;
  }
  
  .link {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .dropdownMenu {
  float: left;
  width: 140px;
  height: 65px;
  line-height: 65px;
  text-transform: capitalize;
  cursor: pointer;
  background: linear-gradient(139deg, #276AFF, #69acef);

}




.dropdownItem {
    min-width: 160px;
  z-index: 1;
  color: #ffffff;
  font-size: large;
  background: linear-gradient(139deg, #276AFF, #69acef);
  float: left;
  width: 140px;
  height: 65px;
  line-height: 65px;
  text-transform: capitalize;
  cursor: pointer;
}

.dropdownItem:hover {
  background: linear-gradient(139deg, #276AFF, #69acef);
}
 
  
  .user {
    font-size: 400%;
    align-items: center;
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
  