.payroll {
    display: flex;
    flex-direction: column;
    background-color: '#F0F5FF';
    width: 100%;
    gap: 20px;
}

.ring {
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin-top: 50px;
}

.search {
    display: flex;
    gap: 25px;
    align-items: center;
    align-self: flex-end;
    position: absolute;
    top: 75px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.filtersTitle {
    font-weight: bold;
    padding-left: 4px;
    padding-top: 8px;
    font-size: 1.1rem;
}
