.Candidates{
    color: #000000;
    display: flex;
    font-size: 18px;
    font-weight: bolder;
    margin: 0px 0px 16px 0px;
    font-family: "Outfit", sans-serif;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 16px;    
  }


  .statusAccepted {
    background-color: #02a700;
    color: #FFFFFF;
    padding: 5px 20px 5px 20px;
    border-radius: 60px;
  }
  
  .statusRejected {
    background-color: #d32f2f;
    color: #FFFFFF;
    padding: 5px 20px 5px 20px;
    border-radius: 60px;
  }
  
  .statusPending {
    background-color: orange;
    color: #FFFFFF;
    padding: 5px 20px 5px 20px;
    border-radius: 60px;
  }
