.sidebarContainer {
  font-family: 'Outfit', sans-serif;
}


.toggleButton {
  position: absolute;
  top: 15px;
  left: 6px;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  border: none;
  padding: 7px;
  cursor: pointer;

}
.toggleButton:hover {
  background-color: transparent;
}
nav {
  background-color:#ffffff;
  height: 100vh;
  font-size: 18px;
  z-index: 1000;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.item {
  padding: 0 20px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}
.item:hover {
background: white;
}
.item:hover .icon {
  color: #2457A3;
}
.item:hover .link {
  color: #2457A3;
}
.link {
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  transition: color 0.3s ease;
  text-decoration: none;
}
.dropdownMenu {
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  margin-top: 2px;
  width: 100%;
  padding: 0;
  transition: max-height 0.3s ease;
  overflow: hidden;
  max-height: 0;
}
.dropdownMenu.open {
  max-height: 200px;
}
.dropdownItem {
  color: rgba(0, 0, 0, 0.8);
  padding: 8px 50px;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}
.dropdownItem:last-child {
  border-bottom: none;
}
.dropdownItem:hover {
  color: #2457A3;
  background-color: white;
}
.icon {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-size: larger;
}
.navClosed {
  width: 55px;
}
.navClosed .dropdownMenu {
  display: none;
}
 .navOpen{
  width: 230px;
 }