.sidebarContainer {
    font-family: 'Outfit', sans-serif;
    position: sticky;
    left: 0;
    top: 62px;
    z-index: 1;
    height: 100%;
}

.toggleButton {
    position: absolute;
    top: 15px;
    left: 6px;
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    border: none;
    padding: 7px;
    cursor: pointer;
}
.toggleButton:hover {
    background-color: transparent;
}

.navbar {
    margin-top: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.item {
    padding: 0 20px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}
.item:hover {
    background: white;
}
.item:hover .icon {
    color: #5f43b2;
}
.item:hover .link {
    color: #5f43b2;
}
.link {
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    transition: color 0.3s ease;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}
.dropdownMenu {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    margin-top: 2px;
    width: 100%;
    padding: 0;
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0.5rem;
}
.dropdownMenu.open {
    max-height: 200px;
}
.dropdownMenu.close {
    display: none;
}
.dropdownItem {
    color: rgba(0, 0, 0, 0.8);
    padding: 8px 50px;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
.dropdownItem:last-child {
    border-bottom: none;
}
.dropdownItem:hover {
    color: #5f43b2;
    background-color: white;
}
.icon {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-size: larger;
}
.navClosed {
    width: 65px;
}
.navClosed .dropdownMenu {
    display: none;
}
.navOpen {
    width: 230px;
}

.text {
    /* line-height: 100%; */
    margin: 0;
}

.iconTextContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}
