.sidebarContainer {
    font-family: 'Outfit', sans-serif;
    position: sticky;
    left: 0;
    top: 62px;
    z-index: 1;
    height: 100vh;
    width: 200px;
    transition: width 0.3s ease;
}

.toggleButton {
    position: absolute;
    top: 15px;
    left: 6px;
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    border: none;
    padding: 7px;
    cursor: pointer;
}
.toggleButton:hover {
    background-color: transparent;
}
.active {
    background-color: rgba(0, 123, 255, 0.1);
    border-left: 6px solid #007bff;
    font-weight: bold;
}

.navbar {
    margin-top: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
    border-radius: 8px;
}
.item.active {
    background-color: rgba(
        255,
        255,
        255,
        0.1
    ); /* or any color that fits your theme */
    font-weight: bold;
}

.item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(1px);
}

.item:hover .link {
    color: black;
    transform: translateY(-1px);
    opacity: 1;
}

.dropdownItem.active {
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: bold;
}

.link {
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    transition: color 0.3s ease;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}
.dropdownMenu {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    margin-top: 2px;
    width: 100%;
    padding: 0;
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0.5rem;
}
.dropdownMenu.open {
    max-height: 200px;
}
.dropdownMenu.close {
    display: none;
}
.dropdownItem {
    color: rgba(0, 0, 0, 0.8);
    padding: 8px 50px;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    transition:
        background-color 0.5s ease,
        color 0.5s ease,
        box-shadow 0.5s ease;
    cursor: pointer;
    text-decoration: none;
}
.dropdownItem:last-child {
    border-bottom: none;
}
.dropdownItem:hover {
    color: black;
    background-color: transparent;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}
.icon {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-size: larger;
    transition:
        transform 0.3s ease,
        color 0.3s ease,
        box-shadow 0.3s ease; /* Smooth zoom effect */
}
.navClosed {
    width: 65px;
    transition: width 0.3s ease;
}
.navClosed .dropdownMenu {
    display: none;
}
.navOpen {
    display: flex;
    animation: fadeIn 0.3s ease;
    width: 200px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.text {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
.iconTextContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .sidebarContainer {
        width: 65px;
    }

    .navOpen {
        width: 65px;
    }

    .text {
        display: none;
    }

    .navbar {
        align-items: center;
    }

    .toggleButton {
        top: 20px;
        left: 6px;
        background: transparent;
    }
}

@media (max-width: 576px) {
    .sidebarContainer {
        position: fixed;
        width: 0;
        overflow: hidden;
        z-index: 999;
        transition: width 0.3s ease;
    }

    .sidebarContainer.open {
        width: 200px;
    }

    .toggleButton {
        top: 10px;
        left: 10px;
    }
}
