.modalMainDiv {
    > div:nth-of-type(1) {
        margin-bottom: 1.75rem;
        display: flex;
        justify-content: space-between;

        h3 {
            font-size: 2rem;
            margin-bottom: 0;
        }
        div {
            display: flex;
            flex-direction: column;

            p:nth-of-type(1) {
                font-size: 1rem !important;
                font-family: monospace;
            }
            p:nth-of-type(2) {
                align-self: flex-end;
            }
        }

        * {
            margin: 0;
        }
    }
}

.returnItemTypes {
    h3 {
        margin-bottom: 0.5rem;
        color: #1f1f1f;
    }

    button {
        font-size: 0.8rem;
        display: inline-block;
        background-color: rgb(240, 240, 240);
        cursor: pointer;
    }

    > button:nth-of-type(1) {
        color: rgb(255, 77, 77);
        border: none;
        padding: 0.25rem 0.5rem;
        margin-right: 0.25rem;
    }

    > button:nth-of-type(2) {
        color: rgb(27, 131, 7);

        border: none;
        padding: 0.25rem 0.5rem;
    }
}

.handleItemReturner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    > div:nth-of-type(1) {
        display: flex;
        gap: 0.5rem;
        background-color: (255, 77, 77)
        svg {
            fill: rgb(255, 77, 77);
            cursor: pointer;
        }
        h3 {
            font-size: 1.25rem;
            color: #1f1f1f;
        }
    }
    > div:nth-of-type(3) {
        display: flex;
        justify-content: end;
        gap: 0.5rem;

        button {
            padding: 0.25rem 0.5rem;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
