.itemAssigner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.5rem;
}

.modalTitle {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.buttonsContainer {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: end;
    gap: 0.5rem;

    > button {
        padding: 0.5rem 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}
