@import '@/Helpers/_base.scss';

.employeesContainer {
    @include employeeContainer;
}

.userDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // padding: 1rem;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 1rem;

    > div:first-of-type {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
        }

        > div {
            display: flex;
            flex-direction: column;

            * {
                margin: 0;
            }

            h3 {
                font-size: 1.333rem;
            }

            p {
                font-size: 0.8rem;
                color: #3a3a3a;
            }
        }
    }

    > div:last-child {
        display: flex;
        gap: 0.5rem;
    }
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    * {
        margin: 0;
    }

    > div:first-child {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        > p {
            padding: 0.25rem 0.5rem;
            border-radius: 10px;
            background-color: rgba(219, 219, 219, 0.404);
        }

        > svg {
            width: 0.85rem;
        }
    }

    > p:last-child {
        align-self: flex-end;
        font-size: 0.8rem;
        color: #3a3a3a;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}

.assetContainer {
    padding: 0.25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color: rgba(219, 219, 219, 0.404);

    > svg {
        height: 1rem;
        width: 1rem;
    }
}
