.generalInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;

    & h3 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    & div {
        display: flex;
        flex-direction: column;

        * {
            margin: 0;
        }

        > p:nth-of-type(2) {
            align-self: flex-end;
        }
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;

    > * {
        border-radius: 0.25rem;
    }
}

.formButtonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;

    > button {
        padding: 0.25rem 1rem;
        cursor: pointer;
    }
}
