.container {
    display: flex;
    padding: 50px;
    height: 100%;
    gap: 50px;   
    background-image: url();
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
}


.img2 {
    width: 150px;
    height: auto;
}

.title {
    color: #000000;
    font-weight: bolder;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
}

/* .customFileInput input[type="file"] {
    color: transparent;
}

.customFileInput input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

.customFileInput input[type="file"]::before {
    content: '';
    display: inline-block;
} */





/* <div style={{ display: "flex", alignItems: "center" }}>
<Input
    label="CV"
    name='file'
    type="file" 
    IsUsername
    width="620px"
    icon={
        <DriveFolderUploadIcon 
            onClick={handleFileIconClick}
            style={{ cursor: 'pointer' }}
        />
    }
    inputRef={fileInputRef}
    onChange={handleFileChange}
    className={style.customFileInput}
/>
{aplicantFormData.file && (
    <span style={{ marginLeft: '10px' }}>
        {aplicantFormData.file.name}
    </span>
)}
</div> */