
.kanbanBoard {
    padding: 20px;
    background-color: #f0f5ff;
    min-height: 100vh;
    box-sizing: border-box;
  }
  .kanbanColumn h2 {
    font-size: 18px;
    color: #2457A3;
    padding-bottom: 12px;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
     .kanbanColumns {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    .kanbanColumn {
      flex: 1;
      min-width: 250px;
      background-color: white;
      border-radius: 13px;
      padding: 10px;
    }
    
    .kanbanList {
      min-height: 300px;
    }
    
    .kanbanItem {
      background-color: rgb(240, 245, 255);
      border-radius: 13px;
      padding: 10px;
      margin-bottom: 10px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12);
      border: 1px solid #e0e0e0;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
  
    }
    
    .kanbanItem:hover {
      background-color: #e6eeff;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
  
    .kanbanItem h6 {
      margin: 0 0 5px 0;
      color:#2457A3 ;
    }
    
    .kanbanItem p {
      margin: 0;
      font-size: 14px;
      color: #666;
    }
  
    .buttonContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      gap: 10px;
    }
    
    .buttonContainer button {
      transition: transform 0.1s ease;
    }
    
    .buttonContainer button:hover {
      transform: scale(1.05);
    }
    
    .buttonContainer button:active {
      transform: scale(0.95);
    }
    
    .candidateName:hover {
      text-decoration: underline;
    }
    .applicantCount {
      font-size: 14px;
      color: #fff;
      background-color: #2457A3;
      padding: 4px 8px;
      border-radius: 12px;
      font-weight: normal;
    }