.eventPoll {
    font-family: Arial, sans-serif;
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .optionContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .optionStats {
    display: flex;
    gap: 10px;
  }
  
  .option.selected {
    background-color: #333;
    color: white;
  }
  
  .option input {
    margin-right: 10px;
  }
  
  .percent {
    margin-left: auto;
  }