@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
    font-family: "Outfit", sans-serif;
}

[data-tooltip] {
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;
        pointer-events: none;
    }

    &::before {
        content: attr(data-tooltip);
        background-color: rgba(32, 32, 32, 0.8);
        color: #fff;
        padding: 0.25rem 0.75rem;
        border-radius: 999px;
        font-size: 0.75rem;
        white-space: nowrap;
        z-index: 1000;
    }

    &::after {
        content: "";
        border: 6px solid transparent;
        z-index: 1000;
    }

    &:hover::before,
    &:hover::after {
        opacity: 1;
        visibility: visible;
    }

    &[data-tooltip-conf="top"] {
        &::before {
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(-10px);
        }

        &::after {
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-top-color: rgba(0, 0, 0, 0.8);
        }
    }
    &[data-tooltip-conf="bottom"] {
        &::before {
            top: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(10px);
        }

        &::after {
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-bottom-color: rgba(0, 0, 0, 0.8);
        }
    }

    &[data-tooltip-conf="right"] {
        &::before {
            top: 50%;
            left: 100%;
            transform: translateY(-50%) translateX(10px);
        }

        &::after {
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            border-right-color: rgba(0, 0, 0, 0.8);
        }
    }

    &[data-tooltip-conf="left"] {
        &::before {
            top: 50%;
            right: 100%;
            transform: translateY(-50%) translateX(-10px);
        }

        &::after {
            top: 50%;
            right: 100%;
            transform: translateY(-50%);
            border-left-color: rgba(0, 0, 0, 0.8);
        }
    }
}
