.container {
    display: flex;
    flex-direction: column;
    width: "100%";
    align-items: center;
}
.title {
    font-size: 34px;
    font-weight: 700;
    color: #333;
    padding: 0;
    margin: 0;
}

.text {
    color: #333;
    margin-bottom: 20px;
}

.error {
    color: #d32f2f;
    font-size: 14px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        max-width: 100%;
    }
}
