
.body{
  background-image: url(C:\Users\User\CV\hr-software-FE-exypnos\public\Images\techPoster.jpg);

}
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

}

.hero {
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 80px 20px;
  margin-bottom: 1px;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.5em;
}

.filter {
  margin-bottom: 20px;
  text-align: center;

}

.filterInput {
  padding: 10px;
  width: 50%;
  font-size: 1em;
  border-color: rgba(255, 255, 255, 0.5); 
  background: rgba(255, 255, 255, 0.5); 
}

.jobList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.jobCard {
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 calc(33.333% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jobCard h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.jobCard .department,
.jobCard .location,
.jobCard .description {
  margin: 10px 0;
}



.culture {
  margin: 40px 0;
  text-align: center;

}

.culture h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: white;
}

.culture p {
  font-size: 1.2em;
}

.testimonials {
  background: rgba(255, 255, 255, 0.5); 
  padding: 40px 20px;
  border-radius: 5px;
  text-align: center;
}

.testimonials h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.testimonials p {
  font-size: 1.2em;
  font-style: italic;
  margin: 10px 0;
}

.footer {
  background: #333;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  margin-top: 40px;
}

.footer p {
  margin: 5px 0;
}

.footer a {
  color: #00bcd4;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
